.key {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding: 25px;
    transition: all, .07s;
    background-color: rgba(0, 0, 0, 0.199);
    border: 5px solid black;
    text-align: center;
    margin: 10px;
    .sound {
        font-size: 1em;
        margin: 5px;
        color: #6a2323;
        }
    kbd {
        font-size: 3em;
    }
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.key-container {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}
body {
    background: linear-gradient(#ccc, rgba(0, 255, 255, 0.419));
    background-size: cover;
}
html, body {
    height: 100%;
    margin: 0;
}
.playing {
    transform: scale(1.1);
    border: yellow;
    box-shadow: 0 0 10px yellow;
}